<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    
    <!--<add key="Server" value="192.168.1.104" />-->
    <add key="Server" value="." />
    
		<add key="Database" value="SHHG_AimExamine" />
		<add key="OutputDir" value=".\GENERATED\" />
		<add key="Namespace" value="Aim.Examining" />
    <add key="Partial" value="true" />
    <add key="PropertyEvents" value="true" />
    <add key="Validation" value="false" />
  </appSettings>
</configuration>
