<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="localhost" />
		<add key="Database" value="NCRL_AimExamine" />
		<add key="OutputDir" value="C:\Users\Administrator\Desktop\1\" />
		<add key="Namespace" value="Aim.Examining" />
    <add key="Partial" value="true" />
    <add key="PropertyEvents" value="true" />
    <add key="Validation" value="false" />
  </appSettings>
</configuration>
