<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service_ReceivedDocumentSoap">
                    <security>
                        <message algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8808/Services/Service_ReceivedDocument.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service_ReceivedDocumentSoap"
                contract="WFService.Service_ReceivedDocumentSoap" name="Service_ReceivedDocumentSoap" />
        </client>
    </system.serviceModel>
</configuration>